<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Gestión de Estudiantes</h1>

  <!-- Formulario para agregar alumnos -->
  <form
    [formGroup]="studentForm"
    (ngSubmit)="addStudent()"
    class="bg-white shadow-md rounded p-4 mb-6"
  >
    <div class="grid grid-cols-2 gap-4">
      <input
        type="text"
        placeholder="Nombre"
        formControlName="name"
        class="border p-2 rounded"
      />

      <input
        type="text"
        placeholder="Padre"
        formControlName="father_name"
        class="border p-2 rounded"
      />
      <input
        type="text"
        placeholder="Madre"
        formControlName="mother_name"
        class="border p-2 rounded"
      />
      <input
        type="number"
        placeholder="Grado"
        formControlName="grade"
        class="border p-2 rounded"
      />
      <input
        type="text"
        placeholder="Sección"
        formControlName="section"
        class="border p-2 rounded"
      />
      <br />
      <div>
        <label for="fecha_nacimiento" class="block text-sm font-semibold mb-2"
          >Fecha de Nacimiento</label
        >
        <input
          type="date"
          formControlName="birth_date"
          class="border p-2 rounded"
        />
      </div>

      <div>
        <label for="fecha_ingreso" class="block text-sm font-semibold mb-2"
          >Fecha de Ingreso</label
        >
        <input
          type="date"
          formControlName="admission_date"
          class="border p-2 rounded"
        />
      </div>
    </div>
    <button
      type="submit"
      class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition"
    >
      Agregar Alumno
    </button>
  </form>

  <!-- Input para buscar estudiantes por grado -->
  <div class="mb-4 flex gap-2 items-center">
    <input
      type="number"
      [(ngModel)]="selectedGrade"
      class="border p-2 rounded w-24"
      placeholder="Grado"
    />
    <button
      (click)="getStudentsByGrade()"
      class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition"
    >
      Buscar
    </button>
  </div>

  <!-- Lista de estudiantes -->
  <div class="bg-gray-100 p-4 mb-2 rounded shadow">
    @if (students.length === 0) {
    <p class="text-center">No hay estudiantes registrados</p>
    } @for (student of students; track $index) {
    <div class="border-b py-2">
      <h2 class="text-xl font-semibold">{{ student.nombre }}</h2>
      <p>
        <strong>Grado:</strong> {{ student.grado }} | <strong>Sección:</strong>
        {{ student.seccion }}
      </p>
      <p><strong>Fecha de Ingreso:</strong> {{ student.fechaIngreso }}</p>
    </div>
    }
  </div>
</div>
